<nav>
<a routerLink="/news">News</a>
<a routerLink="/profile">Profile</a>
<a routerLink="/buddy">Buddy</a>
<a routerLink="/forum">Forum</a>
<a routerLink="/chat-parents">Chat</a>
</nav>

<br>
<br>

 <!-- Load icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- The form -->
<form class="example" action="action_page.php">
  <input type="text" placeholder="Search.." name="search">
  <button type="submit"><i class="fa fa-search"></i></button>
</form> 


<br>
<br>

<article>
      <h2>Any good food recommendations around The Royal London Hospital?</h2>
      <p>Yes. There is a nice place around the hospital: The Gourmet Hut. Really recommended!</p>
      <strong>Tags:</strong>
	<br>
	<strong>places-to-eat,  The Royal London Hospital, London</strong>
    </article>