<nav>
<a routerLink="/news">News</a>
<a routerLink="/profile">Profile</a>
<a routerLink="/buddy">Buddy</a>
<a routerLink="/forum">Forum</a>
<a routerLink="/news">Chat</a>
</nav>

<br>
<br>
 <h1 align=center>Sophie's son - Ollie</h1>


<div class="clearfix">
 <img src  ="../assets/images/olly.png" style="width:35%" style="width:170px;height:170px;margin-right:15px;">  


</div>



<div class="page">
  <div class="page__demo">
    <div class="main-container page__container">
      <div class="timeline">
        <div class="timeline__group">
          <span class="timeline__year">2014</span>
          <div class="timeline__box">
            <div class="timeline__date">
              <span class="timeline__day">10</span>
              <span class="timeline__month">Aug</span>
            </div>
            <div class="timeline__post">
              <div class="timeline__content">
                <p>Visit to the out of hours doctor on a Saturday to get some small symptoms looked at.</p>
              </div>
            </div>
          </div>
          <div class="timeline__box">
            <div class="timeline__date">
              <span class="timeline__day">13</span>
              <span class="timeline__month">Aug</span>
            </div>
            <div class="timeline__post">
              <div class="timeline__content">
                <p>Return to the hospital for blood tests and scans. Several hours later we were told he had leukaemia and we were taken straight to Royal Marsden in Sutton.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="timeline__group">
          <div class="timeline__box">
            <div class="timeline__date">
              <span class="timeline__day">8</span>
              <span class="timeline__month">Sep</span>
            </div>
            <div class="timeline__post">
              <div class="timeline__content">
                <p>Day 29 and Ollie is in remission! More work is needed but things are looking better.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="timeline__group">
          <span class="timeline__year">2015</span>
          <div class="timeline__box">
            <div class="timeline__date">
              <span class="timeline__day">25</span>
              <span class="timeline__month">March</span>
            </div>
            <div class="timeline__post">
              <div class="timeline__content">
                <p> Ollie has started consistently eating and drinking again and has had his NG tube removed. He is looking forward to starting Reception in September without the constant hospital trips.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
